# Created by https://www.gitignore.io/api/racket

### Racket ###
*.rkt~
*.rkt.bak
*.bak
\#*.rkt#
\#*.rkt#*#
*.dep
*.zo

compiled

# End of https://www.gitignore.io/api/racket

.cache
.vscode
dist
node_modules
